{{define "footer"}}
    {{if eq . "ru"}}
        <div class="footer">        
            <p>автор и разработчик Владимир Рыбников, 2017</p>
        </div>
        <div class="footer">        
            <p id="footer2">сайт написан на языке программирования Go</p>
        </div>
        <div class="footer">        
            <p id="footer2">cсылка на мой <a href="/djangoapp/"> django вебсайт</a></p>
        </div>
    {{else}}
        <div class="footer">        
            <p>made by Rybnikov Vladimir, 2017</p>
        </div>
        <div class="footer">        
            <p id="footer2">created using Go, powered by Heroku</p>
        </div>
        <div class="footer">        
            <p id="footer2">checkout my <a href="/djangoapp/"> django website</a></p>
        </div>
    {{end}}
{{end}}