{{define "topmenu"}}
    <div class="top-menu">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/static/owls/index.html">owls</a></li>
            {{if eq . ""}}
                <li><a href="/signin/">login</a></li>
                <li><a href="/signup/">sign up</a></li>
            {{else if eq . "#showsignup"}}
                <li><a href="/signup/">sign up</a></li>
            {{else if eq . "#showsignin"}}
                <li><a href="/signin/">login</a></li>
            {{else}}
                <li><span>Hello, {{.}}!</span></li>
                <li><a href="/signout/">logout</a></li>
            {{end}}            
            <li id="lang"><span>en | </span><a href="/toRu/">ru</a></li>
        </ul>
    </div>
{{end}}