{{template "header"}}
{{template "topmenu" .Username}}


<div class="praiser">
        <span>Are you above 18 years old?</span>
</div>
<div class="mainform">
    <form action="/" method="POST">
        <button class="button" type="submit" name="yes" value="yes">YES</button>
        <button class="button" type="submit" name="no" value="no">no!</button>
    </form>
</div>
{{template "footer" .Lang}}
</body>
</html>