{{template "header"}}
{{template "topmenu" .ShowLink}}

{{if ne .ErrorMessage ""}}
<div class="auth">
    <h3>{{.ErrorMessage}}</h3>
</div>
{{end}}
<div class="auth">
    <form action="/signup/" method="POST">
        <input type="text" name="username" placeholder="username">
        <br />
        <!--Age:<input type="text" name="age">
        <br />
        -->
        <input type="password" name="password" placeholder="password">
        <br />
        <input type="hidden" name="token" value="{{.Token}}">
        <input  class="button" type="submit" value="SIGN UP">
    </form>
</div>
{{template "footer" .Lang}}
</body>
</html>