html, body {
    height: 100%;
}
body {
    position: relative;
    font-family: pt sans, tahoma, arial, sans-serif;
    color: white;

/*    background: url(//www.wargachuk.com/wp-content/uploads/2011/11/background.jpg) no-repeat;*/
/*    background-size: cover;*/

/*    background: #565200; /* Old browsers */
/*    background: -moz-linear-gradient(-45deg,  #565200 1%, #7db9e8 100%); /* FF3.6+ */
/*    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#565200), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
/*    background: -webkit-linear-gradient(-45deg,  #565200 1%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
/*    background: -o-linear-gradient(-45deg,  #565200 1%,#7db9e8 100%); /* Opera 11.10+ */
/*    background: -ms-linear-gradient(-45deg,  #565200 1%,#7db9e8 100%); /* IE10+ */
/*    background: linear-gradient(135deg,  #565200 1%,#7db9e8 100%); /* W3C */
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565200', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background:
        -webkit-radial-gradient(black 15%, transparent 16%) 0 0,
        -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px,
        -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    -moz-radial-gradient(black 15%, transparent 16%) 0 0,
    -moz-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
        -o-radial-gradient(black 15%, transparent 16%) 0 0,
        -o-radial-gradient(black 15%, transparent 16%) 8px 8px,
        -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #202020;
    background-size: 16px 16px;
    background-repeat: repeat;
    /*background: linear-gradient(30deg, #676767 1%, #4e4e4e 100%);*/

    padding: 0;
    margin: 0;
}

@font-face {
    font-family: ridiculous;
    src: url(../fonts/Mf%20Still%20Kinda%20Ridiculous%203.ttf);
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

/*menu*/
.top-menu{
    position: relative;
    width: inherit;
    height: 50px;
    margin: 0;
    margin-bottom: 10px;
    /*background: #322f2f;*/
    background: url("../images/bg-01.png") repeat-x;
    border-bottom: 1px solid #2fcdf4;
}

/*content*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    line-height: 40px;
    cursor: pointer;
    padding-left: 20px;
}

#lang {
    margin-right: 20px;
    float: right;
}

li a, li span {
    white-space: nowrap;
    color: lightcyan;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    font-weight: bold;
    text-shadow:
        1px 1px 1px #fff, 1px 1px 2px #fff, 1px 1px 3px #fff, 1px 1px 4px #75fff3,
        1px 1px 7px #2fcdf4, 1px 1px 8px #2fcdf4, 1px 1px 10px #2fcdf4, 1px 1px 15px #2fcdf4;
}

li span {
    text-shadow: 1px 1px 1px #fff, 1px 1px 2px lightpink, 1px 1px 3px lightsalmon;
}

/*div that wraps the form*/
div label {
    margin: 4px;
    white-space: nowrap;
    color: lightcyan;
    font-size: 24px;
}

.mainform {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #555555;
    color: white;
    border: 2px solid white;
}

.button:hover {
    background-color: white;
    color: black;
    border-color: #555555;
}

/*main message*/
.praiser {
    margin-top: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.praiser span{
    white-space: nowrap;
    text-decoration: none;
    color: lightseagreen;
    font-size: 40px;
    font-weight: bold; 
}

.settingstable {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
    empty-cells: hide;    
}

.settingstable th, td {
    text-align: left;
    padding: 8px;
}

.settingstable tr:nth-child(odd) th:nth-child(even) {
    background-color: #666666;
    color: salmon;
}

.settingstable tr:nth-child(odd) th:nth-child(odd) {
    background-color: #555555;
    color: lightcoral;
}

.settingstable tr:nth-child(even) th:nth-child(even) {
    background-color: #555555;
    color: lightcoral;     
}

.settingstable tr:nth-child(even) th:nth-child(odd) {
    background-color: #666666;
    color: salmon;    
}

.settingstable #rb {
    text-align: center;
}

#rb input[type=radio] {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: 0; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px;
}

#rb input[type="radio"] + span {
  display: block;
}

th label {
  display: block;
  cursor: pointer;
  /*line-height: 0;*/
  /*font-size: 1.5em;*/
}

#rb input[type="radio"] + span {
    display: block;
}

#rb input[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  /*box-shadow: 0 0 0 0.05em #222;*/
  /*margin-right: 0.75em;*/
  transition: 0.5s ease all;
}

#rb input[type="radio"]:checked + span:before {
  background: lightseagreen;
  /*box-shadow: 0 0 0 0.1em mediumseagreen;*/
}

#rb input[type="radio"]:focus + span:after {
  /*content: '\0020\2190';*/
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}

/*authentication forms*/

.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
}

.auth input:not([type='hidden']) {
    margin-top: 30px;
}

/*footer*/
.footer {
    margin-top: 30px;
    display: block;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 0;
    white-space: nowrap;
    text-align: center;
    text-decoration-style: dotted;
    text-decoration: underline;
    color: lightskyblue;
}

.footer #footer2 {
    color: darkgray;
    text-decoration: none;
}

.footer #footer2 a{
    color: lightblue;
}