{{define "topmenu_ru"}}
    <div class="top-menu">
        <ul>
            <li><a href="/">домашняя</a></li>
            <li><a href="/static/owls/index.html">owls</a></li>
            {{if eq . ""}}
                <li><a href="/signin/">войти</a></li>
                <li><a href="/signup/">зарегаться</a></li>
            {{else if eq . "#showsignup"}}
                <li><a href="/signup/">зарегаться</a></li>
            {{else if eq . "#showsignin"}}
                <li><a href="/signin/">войти</a></li>
            {{else}}
                <li><span>Привет, {{.}}!</span></li>
                <li><a href="/signout/">выйти</a></li>
            {{end}}
            <li id="lang"><a href="/toEn/">en</a><span> | ru</span></li>
        </ul>
    </div>
{{end}}