{{template "header"}}
{{template "topmenu_ru" .Username}}

<div class="praiser">
    <span>Вам 18 или более лет?</span>
</div>
<div class="mainform">
    <form action="/" method="POST">
        <button class="button" type="submit" name="yes" value="yes">ДА!</button>
        <button class="button" type="submit" name="no" value="no">нет</button>
    </form>
</div> 
{{template "footer" .Lang}}
</body>
</html>