{{template "header"}}
{{template "topmenu_ru" .Username}}

    <div class="praiser">
        <span>{{.PraiseMessage}}</span>
    </div>
    <div class="mainform">
            <div>
                <input class="button" type="submit" value="GO!" form="182" />
            </div>
    </div>
    {{if .Eighteen}}            
    <div class="mainform">
        <form id="182" action="/main/" method="POST">
            <div class="settingstable">
                <table>
	                <tr>
	                    <th id="etc"></th>
	                    <th>похвала</th>
	                    <th>ругань </th>                            
	                </tr>
	                <tr>
	                    <th>первое слово</th>
	                    {{if .PraiseFirstChecked}}
	                        <th id="rb"><label><input type="radio" name="radio1" value="0" checked /><span></span></label></th>
	                        <th id="rb"><label><input type="radio" name="radio1" value="2" /><span></span></label></th>
	                    {{else}}
	                        <th id="rb"><label><input type="radio" name="radio1" value="0" /><span></span></label></th>
	                        <th id="rb"><label><input type="radio" name="radio1" value="2" checked /><span></span></label></th>
	                    {{end}}
	                </tr>
	                <tr>
	                    <th>второе слово</th>
	                    {{if .PraiseSecondChecked}}
	                        <th id="rb"><label><input type="radio" name="radio2" value="1" checked /><span></span></label></th>
	                        <th id="rb"><label><input type="radio" name="radio2" value="3" /><span></span></label></th>
	                    {{else}}
	                        <th id="rb"><label><input type="radio" name="radio2" value="1" /><span></span></th>
	                        <th id="rb"><label><input type="radio" name="radio2" value="3" checked /><span></span></label></th>
	                    {{end}}
	                </tr>
                </table>
            </div>
        </form>
    </div>
    {{else}}
        <div class="mainform">
            <form id="182" action="/main/" method="POST">
            </form>
        </div>
    {{end}}
        </form>
    </div>
{{template "footer" .Lang}}
</body>
</html>