{{template "header"}}
{{template "topmenu_ru" .ShowLink}}

{{if ne .ErrorMessage ""}}
<div class="auth">
    <h3>{{.ErrorMessage}}</h3>
</div>
{{end}}
<div class="auth">
    <form action="/signin/" method="POST">
        <input type="text" name="username" placeholder="логин" />
        <br />
        <input type="password" name="password" placeholder="пароль" />
        <br />
        <input type="hidden" name="token" value="{{.Token}}">
        <input class="button" type="submit" value="ВОЙТИ">
    </form>
</div>
{{template "footer" .Lang}}
</body>
</html>