{{template "header"}}
{{template "topmenu_ru" .ShowLink}}

{{if ne .ErrorMessage ""}}
<div class="auth">
    <h3>{{.ErrorMessage}}</h3>
</div>
{{end}}
<div class="auth">
    <form action="/signup/" method="POST">
        <input type="text" name="username" placeholder="логин">
        <br />
        <!--Age:<input type="text" name="age">
        <br />
        -->
        <input type="password" name="пароль" placeholder="пароль">
        <br />
        <input type="hidden" name="token" value="{{.Token}}">
        <input  class="button" type="submit" value="ОТПРАВИТЬ">
    </form>
</div>
{{template "footer" .Lang}}
</body>
</html>